{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 1 Chrome version"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
